@page
@model LoginModel


@{
     ViewData["Title"] = "Log in";
    @*ViewData["Title"] = "LOGIN";*@
}


<!-- Background image -->        

<div
  
  style="
    background-image: url(/img/shop-wine.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  "
>

<h1 style="color:white; visibility:hidden">@ViewData["Title"]</h1>
<div class="row justify-content-between">
    <div class="col-md-4 offset-sm-1">
        <section>
            <form id="account" method="post">
                <h4 style="color:white">Please enter your login and password!</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" style="color:white"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" style="color:white"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" style="color:#74FFFF">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a style="color:#74FFFF" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a style="color:#74FFFF" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-lg-6 col-md-offset-2">
        <section>
            <h4 style="color:white">Welcome to the Wine Cellar!</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                                        <div>
                                            <p style="color:#74FFFF">
                                                Part wine catalogue, part educational resource. All you need is a wine label to catalogue your favorite wines.
                                                Includes access to professional tasting notes, so you can keep track of your favorite sips. Feel free  to complete
                                                our quick survey so your "virtual wine assistant" can create a personalized pick using factors like food pairing, variety, and personality.
                                            </p>
                                        </div>
                }
                else
                {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins)
                                {
                                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                                                </p>
                                            </div>
                                        </form>
                }
            }
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</div>